/* .modifier-category {
  background: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.modifier-category-name {
  font-size: 20px;
}
.modifier-options {
  font-size: 15px;
  margin-top: 0.7em;
  width: 100%;
} */
