.address-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2%;
  overflow: auto;
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 110%;
}
.add-address {
  cursor: pointer;
  margin-left: 70px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(234, 232, 237);
  padding: 100px;
  height: 220px !important;
  width: 14rem;
  border-radius: 10px;
}

.address-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  /* border: 2px solid gainsboro; */
  /* padding: 15px 20px; */
  padding: 15px 20px;
  background: rgb(234, 232, 237);

  box-shadow: inset;
  border-radius: 10px;
  padding-bottom: 5px;
  margin-left: 70px;
  width: 14rem;
  height: 220px !important;

  margin-bottom: 3%;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
h5 {
  font-weight: 700;
}

.address-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.actions {
  /* padding: 5px 10px; */
  cursor: pointer;
  /* background: #6244da;
  border-radius: 10px;
  margin-bottom: 5px;
  color: whitesmoke; */
  text-decoration: underline;
  text-decoration-color: rgb(168, 166, 170);
  /* padding-bottom: 10px; */
  /* text-decoration-style: dotted; */
}
/* .actions:hover {
  background-color: #6244da;
  color: white;
} */
.default {
  color: #6244da;
  font-weight: 600;
  text-decoration: none;
}

.address-lines {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.address_name {
  font-weight: 700;
}
.add-for-mobile-text {
  font-size: 17px;
  margin-top: 4px;
  margin-left: 10px;
  color: white;
}

.css-for-single-address {
  width: 135px;
  height: 135px;
  cursor: pointer;
  /* margin-top: -4px;
  margin-left: 70%;
  margin-right: 10px; */
}

@media (max-width: 768px) {
  .main-container {
    width: 100% !important;
  }
  .customised-main-container {
    justify-content: flex-end;
    margin-left: -30px;
  }
  .add-address {
    margin-left: 35px;
  }
  .address-section {
    margin-left: 35px;
  }
  .add-address-for-mobile {
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 60%;
  }
  .css-for-single-address {
    height: 50px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 30%;
  }
  .css-for-single-address-mobile-text {
    font-size: 17px;
    margin-top: 4px;
    margin-left: 190px;
    padding-left: 15px;
    padding-top: 5px;
    color: black;
  }
  .add-for-mobile-text {
    font-size: 17px;
    margin-top: 4px;
    margin-left: 10px;
    color: black;
  }
  .address-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;

    padding: 15px 20px;
    background: rgb(234, 232, 237);

    box-shadow: inset;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-left: 10px;
    width: 20rem;
    height: 200px !important;

    margin-bottom: 3%;
  }
  .for-mobile {
    display: flex;
  }
}
