.dish-modal {
  overflow: auto;
  color: #5d5e5e;
  border: 20px;
  border-radius: 4px;
  width: 600px;
}

.main-content {
  max-height: 70vh;
  overflow: auto;
}

.modifiers-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
}
/* .ant-radio-group {
  width: 100%;
} */

/* .ant-radio-inner::after {
  background-color: black;
}

.ant-radio-checked {
  border-color: black;
}
.ant-radio-inner {
  border-color: black;
}

.ant-checkbox-checked {
  background-color: black;
  border-color: black;
}
.ant-checkbox-inner {
  background-color: black;
  border-color: black;
} */

.edit-qty-container {
  box-shadow: 1px 3px 6px 1px #000;
  width: 100%;
  padding: 10px;
}
.qty {
  font-size: 1rem;
  font-weight: bold;
}
button {
  margin: 0 30px;
}
.amount {
  font-size: 1rem;
  font-weight: bold;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}
.modal-content {
  border-radius: 15px !important;
}
@media (max-width: 768px) {
  .modal {
    left: -10px !important;
  }
  .modal-dialog {
    left: -30% !important;
  }
}
