$grey1: #e7e7e7;
$grey2: #5d5e5e;
$grey3: #E1E2E3;
$grey4: #d4d4d4;
$grey5: #CFCFCF;
$grey6: #b4b4b4;
$grey7: #FAFAFA;
$grey8: #E4E4E4;
$white: #ffffff;
$black: #000000;
$black1: #393939;
$green: #008000;
$red: #EC4654;
$whitesmoke: whitesmoke;