.footer-parent {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.main-footer-container {
  display: flex;
  flex-direction: row;
}
.logo-measurements {
  height: 30px;
  width: 90px;
}
.margin-for-ul-footer {
  margin-left: 50px;
}
.margin-top-for-ul-footer {
  margin-top: 0px;
}
.margin-left-for-ul-footer {
  margin-left: 0px;
}
.margin-for-iphoneplus-pixel {
  margin-top: 0%;
}
.margin-left-in-anchor {
  margin-left: -27px;
}
.hide-on-footer-phone {
  display: flex;
  gap: 10px;
  margin-left: 15%;
  margin-top: 11%;
}
@media (max-width: 768px) {
  .hide-on-footer-phone {
    display: none !important;
  }
  .margin-top-for-ul-footer {
    margin-top: 20px;
  }
  .margin-for-ul-footer {
    margin-left: 20px;
  }
  .set-margin-zero-from-left {
    margin-left: 0px;
  }

  .footer-parent {
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
  .main-footer-container {
    display: flex;
    flex-direction: row;
    width: 200%;
    margin-left: -47%;
  }
  .logo-measurements {
    height: 40px;
    width: 120px;
  }
  .margin-for-mobile {
    margin-top: 40px;
  }
  .margin-for-iphoneplus-pixel {
    margin-top: 0%;
  }
  .margin-left-in-anchor {
    margin-left: -27px;
  }
}
@media (min-width: 410px) and (max-width: 415px) {
  .footer-parent {
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
  .main-footer-container {
    display: flex;
    flex-direction: row;
    width: 200%;
  }
  .margin-left-for-iphoneplus {
    margin-left: -190px;
    margin-bottom: 0px !important;
    margin-top: 150px !important;
  }
  .logo-measurements {
    height: 40px;
    width: 120px;
  }
  .margin-for-mobile {
    margin-top: 50px;
  }
  .margin-top-for-ul-footer {
    margin-top: 20px;
  }
  .margin-for-ul-footer {
    margin-left: 20px;
  }
  .set-margin-zero-from-left {
    margin-left: -15px;
  }
  .margin-for-iphoneplus-pixel {
    margin-top: 80%;
  }
  .margin-left-in-anchor {
    margin-left: -37px;
  }
}
@media (min-width: 420px) and (max-width: 760px) {
  .margin-for-mobile {
    margin-top: 0px;
    margin-left: 13%;
  }
  .margin-for-tab-view {
    margin-left: 5% !important;
    margin-top: 10%;
  }
  .margin-top-for-tab-view {
    margin-top: 40% !important;
  }
  .negative-margin-for-text {
    margin-left: -140px !important;
  }
}
