.left-parent {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}
.img-profile {
  margin-right: 40px;
  margin-top: -5px;
}
.hide-on-desktop {
  display: none !important;
}
.header-bg {
  background: #f3f2f7;
  /* background: white; */
  border-bottom: 1px solid #f1f1f1;
}
@media (max-width: 768px) {
  .header-bg {
    background: none;
    border-bottom: none;
  }
  .hamburger-container {
    margin-left: 180px;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
  }
  .color-black {
    background-color: black !important;
  }
  span ::before {
    background-color: black !important;
  }
  .hide-on-desktop {
    display: block !important;
  }
}
@media (min-width: 355px) and (max-width: 370px) {
  .hamburger-container {
    margin-left: 170px;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
  }
}
@media (min-width: 410px) and (max-width: 420px) {
  .hamburger-container {
    margin-left: 207px;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
  }
}
@media (min-width: 385px) and (max-width: 400px) {
  .hamburger-container {
    margin-left: 190px;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 10px;
  }
}
@media (min-width: 420px) and (max-width: 768px) {
  .hamburger-container {
    margin-left: 340px;
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-radius: 10px;
  }
}

.drawerTitle {
  display: flex;
  justify-content: flex-end;
  padding: 0 !important;
  cursor: pointer;
}
