.check-wrap {
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #25a09e;
  position: relative;
  overflow: hidden;
  animation: wrap 0.23s ease-in-out forwards;
  animation-delay: 0.8s;
  transform: scale(0);
  margin-left: 37%;
}

.check-wrap::before,
.check-wrap::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 0;
  height: 9px;
  transform-origin: left;
  animation-duration: 0.23s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.check-wrap::before {
  top: 52px;
  left: 35px;
  transform: rotate(45deg);
  animation-name: left;
  animation-delay: 1.8s;
}
.check-wrap::after {
  top: 55px;
  left: 35px;
  transform: rotate(-45deg);
  animation-name: right;
  animation-delay: 1.8s;
}

@media (max-width: 768px) {
  .check-wrap {
    margin-left: 30% !important;
  }
}
@keyframes wrap {
  0% {
    background-color: transparent;
    transform: scale(0);
  }
  100% {
    background-color: #25a09e;
    transform: scale(1);
  }
}
@keyframes left {
  0% {
    width: 0;
  }
  100% {
    width: 24px;
  }
}
@keyframes right {
  0% {
    width: 0;
  }
  100% {
    width: 47px;
  }
}

.myorder-parent {
  height: auto;
  width: 400px;

  margin-top: -70%;
  margin-left: 40%;
}
.order-confirm-text {
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #25a09e;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.hi-text {
  font-size: 24px;
  font-weight: 700;

  letter-spacing: 0.05em;
}

.hi-text-2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 0;
  letter-spacing: 0.05em;
}
.order-number-text {
  height: 40px;
  width: 100%;

  margin-top: 80px;
  margin-left: 5px;
  padding-left: 15px;
  padding-top: 6px;
  font-size: 16px;
  background-color: #25a09e;
  font-weight: 600;
  color: white;
}
.list-of-orders {
  display: flex;
  flex-flow: row wrap;
  margin-left: 15px;
}
.list-of-order-text {
  text-align: left;
  width: 50%;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.list-of-order-text2 {
  text-align: right;
  width: 50%;
  font-size: 14px;
  font-weight: 700;
  color: #bd1e44;
}

.lds-roller-orderSuccess {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 45%;
  margin-top: 0%;
}
.lds-roller-orderSuccess div {
  animation: lds-roller-orderSuccess 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller-orderSuccess div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}
.lds-roller-orderSuccess div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller-orderSuccess div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller-orderSuccess div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller-orderSuccess div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller-orderSuccess div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller-orderSuccess div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller-orderSuccess div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller-orderSuccess div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller-orderSuccess div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller-orderSuccess div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller-orderSuccess div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller-orderSuccess div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller-orderSuccess div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller-orderSuccess div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller-orderSuccess div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller-orderSuccess div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller-orderSuccess {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-heading-class {
  text-align: center;
  color: whitesmoke;
  margin-top: 20%;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  /* margin: 0px; */
  font-weight: 500;
  /* color: rgb(105, 105, 105); */
}
