.text-pizzamodal {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin: 0px;
  font-weight: 500;
  color: rgb(105, 105, 105);
}
.custom-pizza-modal {
  width: 1000px !important;
  background-color: red;
}
.img-of-pizza-modal {
  margin-left: -18px;
  margin-top: -20px;
  height: 190px;
  width: 405px;
}
.ant-radio-wrapper {
  font-weight: 500 !important;
}

@media (max-width: 768px) {
  .img-of-pizza-modal {
    margin-left: -17px;
    margin-top: -20px;
    height: 190px;
    width: 329px;
  }
}

@media (min-width: 1400px) {
  .img-of-pizza-modal {
    margin-left: -17px;
    margin-top: -20px;
    height: 190px;
    width: 499px !important;
  }
}
