.google-map-container {
  position: relative;
  width: 470px;
  margin-left: -10px;
  height: 350px;
  padding-left: 10px;
}
.autocomplete-dropdown-container {
  position: absolute;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 -5px 5px -5px #333, -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}
@media (max-width: 768px) {
  .google-map-container {
    width: 310px;
    margin-left: -10px;
  }
}
.address-info {
  padding: 5px;
  line-height: 1.5;
}
